<div id="footer"> 

 	<div id="footer-wording"><div>Made by <a href="http://grabeh.net">@grabbeh</a> <span class="footer-hide">using the Google Maps and Flickr API. Check out my other projects <a href="https://instok.net">Instok</a> and <a href="http://routebop.com">Routebop</a></span></div>
  <div class="footer-space"><a href="/privacy">Privacy & Terms of Use</a></div>

  </div>
</div>



