
<div class="row">
<div class="twelvecol">
    <div class="findaroute"><span style="padding-right: 10px">Find photos <span id="geolocate">near me</span>, near</span><input class="newinput" id="userlocation"><input class="newbutton hover" id="userlocationsubmit" type="submit" value="Enter"> or click below</div>
</div>
</div>

