<!doctype html>
<head>
   <%-include head.ejs %>

</head>
<body>
   <div id="maincontainer">
   <%-include header.ejs %>
      <div id="container">

          <div class="row">
            <div class="twelvecol">
            <p>NB: This product uses the Flickr API but is not endorsed or certified by Flickr.</p>
            <p><b>Privacy Policy and Term of Use</b></p>
            <p>Cookies - the site uses Google Analytics to generally assess the level of traffic to the site and to see where visitors are based (predominantly for my own vanity). 
            If you accept third party cookies through your browser, Google Analytics will place various cookies on your computer to assess your usage of the site on an anonymous basis by using your IP address. If 
            you already have such cookies on your computer, Google Analytics will als recognise these. You can change the cookie settings via your browser to block third party cookies.</p>
            
            <p>The site uses Flickr's API to grab photos from around the world. Many photos will be subject to restrictions on their usage and you should refer to Flickr's site for further information. This
            site enables you to search by creative commons licences applied to the photo. You can read more on Creative Commons licences on Flickr's site also.
            </p>
            
            <p>Please note the usage of Flickr's API is non-commercial and no revenue is derived from the usage</p>
            
            <p>No images are hosted or cached by this site and all images are supplied through Flickr's API. No data is retained by me in relation to your usage of the site (excluding Google Analytics).</p>
            
            <p>You will not make any further use of any image obtained through this site except where it is in accordance with the licence applied to such image. You agree to cover all costs incurred by this site if 
            you make use of any image obtained from this site in breach of the licence applied to such images.</p>

            <p>I can be contacted at mbg@outlook.com with any comments</p>
            
            
            </div>
          </div>
         <div class="clearfooter"></div>
      </div>
      <%- include footer.ejs %>
   </div>
</body>
</html>
