@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.input {
    position: relative;
    margin: 10px 10px 0 0;
    font-size: 20px;
    line-height: 1.2em;
    padding: 5px;
    width: 200px;
}

.button {
    height: 40px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

}

html,
body {
    height:100%;
    margin: 0; 
    padding:0; 
    font-size: 20px;
    font-family:  'Open Sans', Arial;
    background: #e7f3ff;
}

.display-none {
    visibility: hidden;
}

#container {
    width: 90%;
    margin: 0 auto;
}

input {
    font-family: 'Open Sans', Arial;
}

a {color: #000000;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

a:hover { text-decoration: underline;}

#maincontainer {
    position:relative;
    width:100%;   
    min-height:100%;
    margin:0;
    padding:0;
    background: #e7f3ff;
}

.hover:hover{
 cursor: pointer;
}

a img {
border: none;
margin: 0px 10px 10px 0px;
}

#header {
    width:100%;
    background:#0080FF;
    height: 50px;
}

#header a {
  color: #FFFFFF; 
  text-decoration: none; 
  font-weight: bold;
}

#headerlogo {
    
    padding: 10px 0 0 0;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 90%;
}

/* main page */

.photo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.photo-list li {
    margin: 10px 10px 10px 0;
    float: left;
    width: 48%;
}

.photo-list li:last-of-type {
    margin: 10px 0  10px 0;
}

img {
    border: none;
    width: 100%;
}
.flickr-link {
    background-image: url('../images/flickr.png');
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 100;
    position: absolute;
    top: 0;
}

.image-holder {
    position: relative;
}

.flickr-link:hover {
    cursor: pointer;
}

.upvote {
    background-image: url('../images/tick.png');
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 100;
    position: absolute;
    margin-left: 50px;
    top: 0;
}

.upvote:hover{
    cursor:pointer;
}


/* MOBILE RESPONSIVE CHANGE */

@media handheld, only screen and (max-width: 750px) {


   #container {
        width: 95%;
   }

   .photo-list li {
        float: none;
        width: 100%;
   }

    body  {
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

#headerlogo {
    width: 95%;
}

}​
