@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.input {
    position: relative;
    margin: 15px 10px 0 0;
    font-size: 20px;
    line-height: 1.2em;
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.button {
    height: 40px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

}

html,
body {
    height:100%;
    margin: 0; 
    padding:0; 
    font-size: 20px;
    font-family:  'Open Sans', Arial;
    background: #e7f3ff;
}

.display-none {
    visibility: hidden;
}

#container {
    width: 90%;
    margin: 0 auto;
}

input {
    font-family: 'Open Sans', Arial;
}

.one-half-column {
    width: 49%;
    float: left;
    padding: 0; 
    margin: 0;
    margin-right: 2%;
    background:#06406C;
    color: white;
}

.last {
    margin-right: 0;
}

.one-sixth-column {
    width: 28%;
    float: left;
    margin-right: 2%;
}

.five-sixths-column {
    width: 70%;
    float: left;
}

.home-container {
    padding: 0 0 20px 20px;
}

.main-title {
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0;
    padding: 10px;
    background: green;
    color: white;
}

.home-title {
    font-weight: bold;
    padding: 20px 0;
}

.tag-section {
    margin-top: 20px;
    margin-left: 20px;
}

.tags-title {
    margin: 20px 0 0 20px;
    font-weight: bold;
}

.home-tags-list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 20px;
}

.home-tags-list li {
    padding: 0;
    margin: 0;
}

.instructions-title {
    margin: 20px 0 0 20px;
    font-weight: bold;
}

.instructions-list {
    list-style: none;
    padding: 20px;
    margin: 20px 0 20px 20px;
    background: white;
}

.instructions-list li {
    margin: 20px 0 20px 10px;
}

.small-image {
    height: 41px;
    width: 41px;
}

.show-tag {
    padding: 10px;
    background: red;
    margin-right: 20px;
    color: white;
}

.map-tag {
    padding: 10px;
    background: red;
    color: white;
}

.main-tag {
    margin-bottom: 25px;
    margin-top: 25px;
}

.sub-tag {

}

a {color: #000000;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

a:hover { text-decoration: underline;}

#maincontainer {
    position:relative;
    width:100%;   
    min-height:100%;
    margin:0;
    padding:0;
    background: #e7f3ff;
}

.hover:hover{
 cursor: pointer;
}

a img {
border: none;
margin: 0px 10px 10px 0px;
}

#header {
    width:100%;
    background:#0080FF;
    height: 50px;
}

#header a {
  color: #FFFFFF; 
  text-decoration: none; 
  font-weight: bold;
}

#headerlogo {
    
    padding: 10px 0 0 0;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 90%;
}

/* map */

#map {
    width: 100%;
    height:700px;
}

/* main page */

.photo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.photo-list li {
    margin: 10px 25px 15px 0;
    float: left;
    width: 48%;
}

.photo-list li:last-of-type {
    margin: 10px 0 25px 0;
    padding-bottom: 25px;
}

img {
    border: none;
    width: 100%;
}
.flickr-link {
    background-image: url('../images/flickr.png');
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.image-holder {
    position: relative;
}

.flickr-link:hover {
    cursor: pointer;
}

.upvote {
    background-image: url('../images/tick.png');
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 100;
    position: absolute;
    margin-left: 50px;
    top: 0;
    left: 0;
}

.upvote:hover {
    cursor:pointer;
}

.remove-photo {
    background-image: url('../images/remove.png');
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 100;
    position: absolute;
    margin-left: 100px;
    top: 0;
    left: 0;
}

.remove-photo:hover{
    cursor:pointer;
}

.error-message {
    padding: 10px;
    margin: 10px 0 20px 0;
    background: red;
    color: white;
}

.loading-message {
    padding: 10px;
    margin: 10px 0 10px 0;
    background: green;
    color: white;
}

/* MOBILE RESPONSIVE CHANGE */

@media handheld, only screen and (max-width: 750px) {


   #container {
        width: 95%;
   }

   .photo-list li {
        float: none;
        width: 100%;
   }

    body  {
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #headerlogo {
        width: 95%;
    }

    .input {
        width: 140px;
    }

    .one-half-column, .one-sixth-column, .five-sixths-column {
        float: none;
        width: 100%;
    }

    .last { 
        margin-top: 20px;
    }

    .instructions-list {
        margin-left: 0;
    }
    .instructions-title {
        margin-left: 0;
    }
}​
