@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
    height:100%;
    margin: 0px auto; 
    padding:0; 
    font-family:  'Open Sans', Arial;
}

.display-none {
    visibility: hidden;
}

#container {
    width: 70%;
    margin: 0 auto;
}

.row {
    width: 100%;
}

input {
    font-family: 'Open Sans', Arial;
}

a {color: #000000;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

a:hover { text-decoration: underline;}

#licenseform {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkbox {
    margin-right: 10px;
    margin-bottom: 5px;
}

#maincontainer {
    position:relative;
    width:100%;   
    min-height:100%;
    margin:0;
    padding:0;
    margin-bottom: -100px;
}

.hover:hover{
 cursor: pointer;
}

a img {
border: none;
margin: 0px 10px 10px 0px;
}

#header {
    width:100%;
    background:#0080FF;
    height: 50px;
}

#header p {
    padding: 10px 0 0 20px;
    margin: 0;
}

#header a {
  color: #FFFFFF; 
  text-decoration: none; 
  font-weight: bold;
}

#headerlogo {
    float: left;
    text-align: left;
    padding: 10px 0 0px 20px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

#advancedsearch {
    padding: 10px 0 10px 0;
}

#tag-filter {
    padding: 10px 0 5px 0;
}

#prev-next-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;  
    background:black;
    margin:0; 
    padding:0;
}

#footer-wording {
    color: white;
    padding: 10px;
}

#footer-wording a {
    color: white;
    text-decoration: underline;
}

.clearfooter {
height: 100px;
clear: both;
}

div#map {
    position:relative; 
    width:100%;
    height: 400px;
}

div#mymap {
    position:absolute; 
    top:0px; 
    bottom:0px; 
    left:0;
    right:0;
    height:100%;
}

#locations {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.photolist {
    list-style-type:none;
    padding: 10px 0 0 0;
    margin: 0;
}

.photolist li {
    float: left;
    padding: 0 10px 0 0;
    margin: 0;
}

.bigimage {
    
}

#geolocate:hover {
    cursor:pointer; 
    text-decoration: underline;
 }

.findaroute{
    margin-top: 10px;
}

#prevnextarray {
    padding-bottom: 10px;
}
#previousbatch {
    cursor: pointer;
    font-weight: bold;
}
#nextbatch {
    float: right;
    cursor: pointer;
    font-weight: bold;
}

input.newbutton {
    height: 35px;
    font-size: 16px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

input.newinput {
    height: 30px;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
    padding: 0px 10px 0px 7px;
    width: 150px;
}


/* COLUMNS */

.sixcol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .sixcol {
width: 48%;
}

.row .twelvecol {
width: 100%;
float: left;
}


.last {
margin-right: 0px;
}


/* MOBILE RESPONSIVE CHANGE */

@media handheld, only screen and (max-width: 1000px) {

   #container {
    width: 95%;
   }

    body  {
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .row, .row .twelvecol {
    width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .bigimage {
        width: 100%;
}

.footer-hide {
    display: none;
}
}​
