<div id="maincontainer">
  <div id="container">
    <div>
    <div class="main-title">"Wonder no more about what part of the world has the best photos"</div>
    <div class="one-half-column">
      <div class="home-container">
    <div class="home-title">Show photos for...</div>
  
    <form ng-submit="showPhotosForTag()">
        <input class="input" placeholder="Tag" ng-model="showtag">
        <input type="submit" class="button" value="Search">
      </form>
      <div class="error-message" ng-show="error">{{ error }} </div>
    </div>
    </div>
    <div class="one-half-column-last">
      <div class="home-container">
      <div class="home-title">Show map for...</div>
      <form ng-submit="showPhotosOnMap()">
        <input class="input" placeholder="Tag" ng-model="maptag">
        <input type="submit" class="button" value="Search">
      </form>
      <div class="error-message" ng-show="error">{{ error }} </div>
    </div>
    </div>
  </div>
  <div style="clear:both"></div>

<div class="tag-section">
  <div class="map-tags">Popular tags</div>
  <ul class="home-tags-list">
    <li>Cats <a class="show-tag" href="/#/show/cat">show</a><a class="map-tag" href="/#/map/cat">map</a></li>
    <li>Sunsets <a class="show-tag" href="/#/show/sunset">show</a><a class="map-tag" href="/#/map/sunset">map</a></li>
    <li>Sunrises <a class="show-tag" href="/#/show/sunrise">show</a><a class="map-tag" href="/#/map/sunrise">sunrise</a></li>
    <li>Dogs<a class="show-tag" href="/#/show/dog">show</a><a class="map-tag" href="/#/map/dog">map</a></li>
  </ul>
</div>

</div>
</div>