<div id="maincontainer">
  <div id="container">

      <form name="showMapForm" ng-submit="getPhotosForMap()">
        <input class="input" name="tag" required placeholder="Tag" ng-model="tag">
        <input type="submit" ng-disabled="!canSearch()" class="button" value="Search">
      </form>
      <div class="loading-message" ng-show="loading">Loading...</div>
      <div class="error-message" ng-show="error">No pictures for this tag unfortunately </div>
   <map id="map" markers="markers"></map>
   </div>
</div>