<div id="maincontainer">
  <div id="container">
    <div class="one-half-column">
  	<span class="map-search-input">
      <form novalidate name="showMapForm" ng-submit="getPhotosForMap()">
        <input class="input" name="tag" required placeholder="Tag" ng-model="tag">
        <input type="submit" ng-disabled="!canSearch()" class="button" value="Search">
      </form>
    </span>
  </div>
  <div class="one-half-column last">
    <span class="map-filter-input">
      <form novalidate name="filterMarkersForm" ng-submit="filterMarkers()">
        <input type="number" min="0" max="100" class="input" name="percentage" required placeholder="Percentage" ng-model="percentage">
        <input type="submit" ng-disabled="!canFilter()" class="button" value="Filter">
      </form>
    </span>
  </div>
    <div style="clear:both"></div>
      <div class="loading-message" ng-show="loading">Loading...</div>
      <div class="error-message" ng-show="error">No pictures for this tag unfortunately </div>
   <map id="map" markers="markers"></map>
   </div>
</div>