<div id="maincontainer">
  <div id="container">
    <div class="one-half-column">
  	<span class="map-search-input">
      <form novalidate name="showMapForm" ng-submit="getPhotosForMap()">
        <input class="input" name="tag" required placeholder="Tag" ng-model="tag">
        <input type="submit" ng-disabled="!canSearch()" class="button" value="Search">
      </form>
    </span>
  </div>
  <div class="one-half-column last">
    <span class="map-filter-input">
      <form novalidate name="filterMarkersForm" ng-submit="filterMarkers()">
        <input type="number" class="input" name="percentage" required placeholder="1 to 100" ng-model="percentage">
        <input type="submit" ng-disabled="!canFilter()" class="button" value="Filter">
        <div class="small-text">Show photos with rating greater or equal to given number</div>
      </form>
    </span>
  </div>
    <div style="clear:both"></div>
      <div class="loading-message" ng-hide="markers || error">Loading...</div>
      <div class="error-message" ng-show="error">Either no pictures for this tag or server error</div>
   <div map id="map" markers="markers" geojson="geojson"></div>
   <p> {{ country }}        </p>
   <p> {{ countryAverage }} </p>
   <p><ul class="map-photo-list" ng-show="photos">
      <li ng-repeat="photo in photos">
        <div class="map-image-holder">
              <a title="View photo on Flickr" target="_blank" ng-href="http://flickr.com/photo.gne?id={{photo.id}}">
              <img class="full-img-width" ng-src="http://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg">
              </a>
        </div>

      </li>
    </ul></p>
   <br></br>
   </div>
</div>